@import './app/resources/styles/palette.scss';

.btn-fb {
    background-color: $fb-cl;
}

.btn-tw {
    background-color: $tw-cl;
}

.btn-gplus {
    background-color: $gplus-cl;
}

.btn-li {
    background-color: $li-cl;
}

.btn-dribbble {
    background-color: $dribbble-cl;
}
