<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <form>
                    <fieldset>
                        <legend>User Creation</legend>
                        <div class="form-group">
                            <label for="first-name">First name</label>
                            <input type="text" class="form-control" name="first-name" [(ngModel)]="FirstName">
                        </div>
                        <div class="form-group">
                            <label for="last-name">Last name</label>
                            <input type="text" class="form-control" name="last-name" [(ngModel)]="LastName">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email" [(ngModel)]="Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" name="password" [(ngModel)]="Password">
                        </div>   
                        <div class="form-group">
                            <label for="is-admin">Is admin</label>
                            <input type="checkbox" name="is-admin" [(ngModel)]="IsAdmin">
                        </div>  
                    </fieldset>
                    <div class="row">
                        <a class="btn btn-success" (click)="create($event)">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
