<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <form [formGroup]="registerForm" (ngSubmit)="create()">
                    <fieldset>
                        <legend>User Creation</legend>
                        <div class="form-group">
                            <label for="first-name">First name</label>
                            <input type="text" formControlName="firstName" id="first-name" class="form-control" name="first-name" placeholder="First Name" 
                            [ngClass]="{ 'is-invalid': submitted && field.firstName.errors }">
                            <div *ngIf="submitted && field.firstName.errors" class="invalid-feedback">
                                <div *ngIf="field.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="last-name">Last name</label>
                            <input type="text" formControlName="lastName" id="last-name" class="form-control" name="last-name" placeholder="Last Name" 
                            [ngClass]="{ 'is-invalid': submitted && field.lastName.errors }">
                            <div *ngIf="submitted && field.lastName.errors" class="invalid-feedback">
                                <div *ngIf="field.lastName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" formControlName="email" id="email" class="form-control" name="email" placeholder="Email" 
                            [ngClass]="{ 'is-invalid': submitted && field.email.errors }">
                            <div *ngIf="submitted && field.email.errors" class="invalid-feedback">
                                <div *ngIf="field.email.errors.required">Email is required</div>
                                <div *ngIf="field.email.errors.pattern">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" formControlName="password" id="password" class="form-control" name="password" placeholder="Password" 
                            [ngClass]="{ 'is-invalid': submitted && field.password.errors }">
                            <div *ngIf="submitted && field.password.errors" class="invalid-feedback">
                                <div *ngIf="field.password.errors.required">Password is required</div>
                                <div *ngIf="field.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>   
                        <div class="form-group">
                            <label for="is-admin">Is admin</label>
                            <input type="checkbox" formControlName="isAdmin" name="is-admin">
                        </div>  
                    </fieldset>
                    <div class="row">
                        <a class="btn btn-success">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
