<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      
      <!-- Icon -->
      <div class="fadeIn first">
        <h1>Sign Up</h1>
      </div>
  
      <!-- Register Form -->
      <form [formGroup]="registerForm" (ngSubmit)="signUp()">
        <div class="form-group" >
            <input type="text" formControlName="firstName" id="first-name" class="fadeIn second" name="first-name" placeholder="First Name" 
              [(ngModel)]="registerUserModel.FirstName"
              [ngClass]="{ 'is-invalid': submitted && field.firstName.errors }">
            <div *ngIf="submitted && field.firstName.errors" class="invalid-feedback">
              <div *ngIf="field.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group" >
            <input type="text" formControlName="lastName" id="last-name" class="fadeIn third" name="last-name" placeholder="Last Name" 
              [(ngModel)]="registerUserModel.LastName"
              [ngClass]="{ 'is-invalid': submitted && field.lastName.errors }">
            <div *ngIf="submitted && field.lastName.errors" class="invalid-feedback">
              <div *ngIf="field.lastName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group" >
            <input type="text" formControlName="email" id="email" class="fadeIn fourth" name="email" placeholder="Email" 
              [(ngModel)]="registerUserModel.Email"
              [ngClass]="{ 'is-invalid': submitted && field.email.errors }">
            <div *ngIf="submitted && field.email.errors" class="invalid-feedback">
              <div *ngIf="field.email.errors.required">Email is required</div>
              <div *ngIf="field.email.errors.pattern">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group" >
            <input type="text" formControlName="password" id="password" class="fadeIn fifth" name="password" placeholder="Password" 
              [(ngModel)]="registerUserModel.Password"
              [ngClass]="{ 'is-invalid': submitted && field.password.errors }">
            <div *ngIf="submitted && field.password.errors" class="invalid-feedback">
              <div *ngIf="field.password.errors.required">Password is required</div>
              <div *ngIf="field.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group" >
            <input type="text" formControlName="confirmPassword" id="password-confirm" class="fadeIn sixth" name="password-confirm" placeholder="Confirm Password" 
              [(ngModel)]="registerUserModel.PasswordConfirmation"
              [ngClass]="{ 'is-invalid': submitted && field.confirmPassword.errors }">
            <div *ngIf="submitted && field.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="field.confirmPassword.errors.required">Password is required</div>
              <div *ngIf="field.confirmPassword.errors.minlength">Password must be at least 6 characters</div>
              <div *ngIf="field.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
        <div class="form-group" > 
            <input type="submit" class="fadeIn seventh" value="Sign Up">
        </div>      
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/login">Sign In if you have an account</a>
      </div>
  
    </div>
</div>